In [9]:
ls=[1.1,2.1,3.1,4.1,5.1]

cnt=0
for i in ls:
    if i>1:
        cnt=cnt+1
        
print(cnt)


def power_sum(x):
    val=1
    for i in range(1,6):
        val=val+(pow(x,i))/i
    return val

print(power_sum(2))

def filter_sells(**krgws):
    dic={}
    for k,v in krgws.items():
        if v>5:
            dic[k]=v
    return dic
        
print(filter_sells(p1=2,p2=5,p3=7,p4=9))

type(filter_sells)

mysq=lambda x:x*x
    
mysq(3)

print(list(map(lambda x:x*x,ls)))

name1="prashant"
print(id(name1))
name2="prashant"
print(id(name2))

5
18.066666666666666
{'p3': 7, 'p4': 9}
[1.2100000000000002, 4.41, 9.610000000000001, 16.81, 26.009999999999998]
2496458980976
2496458980976

In [16]:
import numpy as np
import pandas as pd
column1 = ["A","A","A","A","B","B","B",'B']
column2 = ["a","a","b","b","a","a","b","b"]
column3 = [1.38, 2.85, 2.22, 1.93, 1.85, 3.04, 2.27, 2.32]
column4 = [1.02, 1.50, 0.64, 2.66, 1.97, 2.03, 3.32, 2.04]
dfDict = {"col1":column1,"col2":column2,
"col3":column3,"col4":column4}
df = pd.DataFrame(dfDict)
print(df)
print(df.columns)
print(df.index)
print(df.ndim)
print(df.size)
print(df.values)
print(df.shape)
print(df.dtypes)
print(df.empty)

  col1 col2  col3  col4
0    A    a  1.38  1.02
1    A    a  2.85  1.50
2    A    b  2.22  0.64
3    A    b  1.93  2.66
4    B    a  1.85  1.97
5    B    a  3.04  2.03
6    B    b  2.27  3.32
7    B    b  2.32  2.04
Index(['col1', 'col2', 'col3', 'col4'], dtype='object')
RangeIndex(start=0, stop=8, step=1)
2
32
[['A' 'a' 1.38 1.02]
 ['A' 'a' 2.85 1.5]
 ['A' 'b' 2.22 0.64]
 ['A' 'b' 1.93 2.66]
 ['B' 'a' 1.85 1.97]
 ['B' 'a' 3.04 2.03]
 ['B' 'b' 2.27 3.32]
 ['B' 'b' 2.32 2.04]]
(8, 4)
col1     object
col2     object
col3    float64
col4    float64
dtype: object
False

In [22]:
import numpy as np
import pandas as pd
group=pd.read_csv('D:\\group.txt',header=None,names=['group','location'])
person=pd.read_csv('D:\\person.txt',header=None,names=['group','name','age'])

print(group)
print(person)

innerDF=pd.merge(group,person,how='right',on=['group'])
print(innerDF)

#value count education and geneder  september more defaulter

  group location
0    g1     loc1
1    g2     loc2
2    g4     loc4
  group name  age
0    g1   p1   26
1    g1   p2   28
2    g1   p3   30
3    g2   p4   24
4    g2   p5   26
5    g3   p6   32
  group location name  age
0    g1     loc1   p1   26
1    g1     loc1   p2   28
2    g1     loc1   p3   30
3    g2     loc2   p4   24
4    g2     loc2   p5   26
5    g3      NaN   p6   32